.tooling-project/cached/filecrudexmaple/src/main/mule/filecrudexmaple.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3d925f81-a8d2-44d5-ad05-6c2dfce0c0b0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<sub-flow name="errorLogger" doc:id="d0e8bae8-b235-41c8-a509-1d7fea6ccba9" >
		<logger level="ERROR" doc:name="ErrorLoger" doc:id="`aed3b75d-09eb-4beb-9d47-9943171451d5" message="#[{
	&quot;error_name&quot;: &quot;#[error.errorType]&quot;,
	&quot;error_message&quot;: &quot;#[error.description default 'Unknown error']&quot;,
	&quot;timestamp&quot;: &quot;#[now()]&quot;
}]"/>
	</sub-flow>
	<flow name="getFlow" doc:id="78477129-fcd1-481c-a78e-124300e8347f" >
		<http:listener doc:name="Listener" doc:id="275340ae-8fc8-407b-a022-e3f10a82bb6e" config-ref="HTTP_Listener_config" path="/cars" allowedMethods="GET">
			<non-repeatable-stream />
		</http:listener>
		<set-payload value="#[attributes.queryParams as Object]" doc:name="Set Payload" doc:id="f352286a-afa5-4337-8aad-6fba8fe09301" />
		<logger level="INFO" doc:name="[INFO] Start processing GET method" doc:id="ee667296-bd72-4800-9ce2-dbf191bdf4a1" message="Start processing GET method with query parameters: #[payload]" />
		<flow-ref doc:name="Call getSubFlow" doc:id="058386f1-d677-4040-b5e9-f1777648ba3f" name="getSubFlow" />
		<logger level="INFO" doc:name="[INFO] End of processing GET method" doc:id="2a549f10-45c8-4ae3-ad71-de022fd8906a" message="End of processing GET method with result: #[payload]" />
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error propagate" doc:id="54af5b7a-aab5-4360-9014-b29e4ca877a5">
				<flow-ref doc:name="Flow Reference" doc:id="cd38c6f7-4993-4807-93b3-c832629aa0c5" name="errorLogger"/>
				<set-payload value="#[{
	error: error.errorType, 
	message: error.description, 
	timestamp: now()
}]" doc:name="Set Payload" doc:id="3ee48273-0bcc-4a2c-807a-a67a2f073497" />
            
</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="postFlow" doc:id="5c2a1515-b24f-4c17-8a62-26dba3fc7059" >
		<http:listener doc:name="Listener" doc:id="269b64ee-61a8-4e3e-b736-44c06df1245f" config-ref="HTTP_Listener_config" path="/cars" allowedMethods="POST">
			<non-repeatable-stream />
		</http:listener>
		<logger level="INFO" doc:name="[INFO] Start processing POST method" doc:id="e06a71b8-911d-4063-86e6-2e559c940b14" message="Start processing POST method" />
		<flow-ref doc:name="Call postSubFlow" doc:id="a1a93de4-8682-4e81-b704-3db68390db67" name="postSubFlow"/>
		<logger level="INFO" doc:name="[INFO] End of processing POST method" doc:id="ff24e20f-d497-4e98-88a0-6aa4f17d0be0" message="End of processing POST method with result: #[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="false" doc:name="Error propagate" doc:id="05bdb6c4-c7f5-4706-8daa-f8e243fbd706" >
				<flow-ref doc:name="Flow Reference" doc:id="bc667c87-346f-4e41-8702-81af64a43c30" name="errorLogger" />
				<set-payload value="#[{error: error.errorType, message: error.description, timestamp: now()}]" doc:name="Set Payload" doc:id="d5ebbdd6-5bc9-4539-9eaf-39dd765712dc" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="patchFlow" doc:id="e569a594-012b-46ce-a3e2-19985e42c514" >
		<http:listener doc:name="Listener" doc:id="39bf8f53-0071-4691-9538-8f77264a60ef" config-ref="HTTP_Listener_config" path="/cars" allowedMethods="PATCH">
			<non-repeatable-stream />
		</http:listener>
		<logger level="DEBUG" doc:name="[INFO] Start processing PATCH method" doc:id="ce297c2f-2dca-4cf2-b275-64c7a31922c7" message="Start processing PATCH method with payload: #[payload]" />
		<flow-ref doc:name="Flow Reference" doc:id="36bd54a9-1767-4862-bf95-79b55ddf783a" name="patchSubFlow"/>
		<logger level="INFO" doc:name="[INFO] End of processing PATCH method" doc:id="e91b9a25-a77d-43b8-aeb8-6404caaba866" message="End of processing PATCH method with result: #[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error propagate" doc:id="a18a1726-f773-41b8-ba61-eba5bfa6827e" >
				<flow-ref doc:name="Flow Reference" doc:id="45cbca64-30ae-4b26-ba66-9bc94334ce62" name="errorLogger" />
				<set-payload value="#[{error: error.errorType, message: error.description, timestamp: now()}]" doc:name="Set Payload" doc:id="6fbcde19-c06d-49ee-b45c-931a21b645c9" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="deleteFlow" doc:id="2c8a82b7-7f52-4811-a26a-caaf108e0ab5" >
		<http:listener doc:name="Listener" doc:id="c88d39ff-f23b-4502-9ab5-bf374244e916" config-ref="HTTP_Listener_config" path="/cars" allowedMethods="DELETE">
			<non-repeatable-stream />
		</http:listener>
		<logger level="INFO" doc:name="[INFO] Start processing DELETE method" doc:id="c27896be-6978-4366-8478-c5fce47c00e9" message="Start processing DELETE method" />
		<flow-ref doc:name="Flow Reference" doc:id="8e286f66-89bc-4c34-8531-75becaeb01a8" name="deleteSubFlow"/>
		<logger level="INFO" doc:name="[INFO] End of processing PATCH method" doc:id="50e35f96-49bd-4263-9c37-2e87743c44ce" message="End of processing PATCH method with result: #[payload]" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="Error propagate" doc:id="4276b152-6b94-42c1-82e5-52ff871e9879" >
				<flow-ref doc:name="Flow Reference" doc:id="3c79921d-69cc-4e42-bce4-33e43943ff5d" name="errorLogger" />
				<set-payload value="#[{error: error.errorType, message: error.description, timestamp: now()}]" doc:name="Set Payload" doc:id="d576a8b2-7a11-4c20-8f30-6c83ee2421d3" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
