.tooling-project/cached/filecrudexmaple/deletemethod.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<flow name="deleteSubFlow" doc:id="fc7cf1ce-38e4-461f-a806-fc477ec59a19" >
		<http:listener doc:name="Listener" doc:id="9137a84d-4379-4323-bcdf-72b09f29dca8" config-ref="HTTP_Listener_config" path="/cars/{id}" allowedMethods="DELETE" />
		<set-variable value="#[attributes.uriParams.id as Number]" doc:name="id" doc:id="5ae30271-2122-478f-839c-c5a92a84355b" variableName="id" />
		<file:read doc:name="Read" doc:id="6f492991-41a7-4ac2-a02f-2b3b53fed809" path="#[p('app.json_file_path')]" config-ref="File_Config"/>
		<choice doc:name="Second validation" doc:id="115fef6f-e1f3-4658-adfb-6a4cd869f802">
			<when expression="#[!((payload as Array).id contains vars.id)]">
				<raise-error doc:name="Raise error" doc:id="1c9a8f6d-706d-4ed4-afef-e7b2b2cd2f2f" type="VALIDATION:ID_DOES_NOT_EXIST" description="#[&quot;Item with ID &quot; ++ vars.id ++&quot; doesn't exist&quot;]" />
			</when>
		</choice>
		<set-variable value="#[output application/json
---
(payload as Array filter (item, index) -&gt; (item.id == vars.id))[0]]" doc:name="deleteCar" doc:id="1a5b2bee-8b3c-449a-9171-b985f351e59e" variableName="deleteCar"/>
		<set-payload value="#[output application/json
---
payload as Array - vars.deleteCar]" doc:name="Set Payload" doc:id="7035e506-51f6-4d60-a537-f4b58ebdd6de" />
		<file:write doc:name="Write" doc:id="3e9f0298-d5d4-4f62-85cb-30490cc1b155" path="#[p('app.json_file_path')]" config-ref="File_Config"/>
		<set-payload value="#[vars.deleteCar]" doc:name="Set Payload" doc:id="ec801acb-c4bf-42e3-91ec-eba796427f60" />
	</flow>
</mule>
